{% extends 'base.html' %}


{% block content %}
    

    <div id="main-content" class="site-main-content">
            <section class="site-content-area">

                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>doctor details</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="#">home</a></li>
                            <li><a href="#">page</a></li>
                            <li><a href="#">doctor details</a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>


                <div class="uni-doctor-details-body">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-4">
                                <div class="uni-our-doctor-item-default">
                                    <div class="item-img">
                                        <img src="{{doctor.image.url}}" alt="" class="img-responsive">
                                    </div>
                                    <div class="item-caption">
                                        <div class="item-caption-head">
                                            <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                                <div class="item-icons">
                                                    <img src="images/icons_box/icon_4/icon-5.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                                <div class="item-title">
                                                    <h4>{{doctor.name}}</h4>
                                                    <span>{{doctor.category}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-caption-info">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <td>Degrees</td>
                                                    <td>{{doctor.degree}}</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Mon - fri</td>
                                                        <td>{{doctor.opening_time_Mon_to_Fri|date:"G:i A"}} - {{doctor.closing_time_Mon_to_Fri|date:"G:i A"}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>saturday</td>
                                                        <td> {{doctor.opening_time_Saturday|date:"G:i A"}} - {{doctor.closing_time_Saturday|date:"G:i A"}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sunday</td>
                                                        <td>{{doctor.opening_time_Sunday|date:"G:i A"}} - {{doctor.closing_time_Sunday|date:"G:i A"}}</td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="2">
                                                            <ul>
                                                                <li>
                                                                    <a href="{{doctor.facebook_account}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                                </li>
                                                                <li><a href="{{doctor.twitter_account}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                <li><a href="{{doctor.google_plus_account}}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                                <li><a href="{{doctor.youtube_account}}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                            </ul>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="uni-doctor-details-right">

                                    <!--SUMMARY-->
                                    <div class="uni-doctor-details-summary">
                                        <div class="uni-doctor-details-title">
                                            <h3>Summary</h3>
                                            <div class="uni-divider"></div>
                                        </div>
                                        <p>
                                           {{doctor.description}}
                                        </p>
                                    </div>

                                    <!--EDUCATION/DEGREE-->
                                    <div class="uni-doctor-details-degrees">
                                        <div class="uni-doctor-details-title">
                                            <h3>education/degrees</h3>
                                            <div class="uni-divider"></div>
                                        </div>
                                        <pre style = "background-color: transparent;font-family: Poppins; color: #7F6666;font-size: 14px;">{{doctor.educations_and_degrees}}</pre>
                                    </div>

                                    <!--CONTACT-->
                                    <div class="uni-doctor-details-contact">
                                        <div class="uni-doctor-details-title">
                                            <h3>Contact</h3>
                                            <div class="uni-divider"></div>
                                        </div>
                                        <ul>
                                            <li> <i class="fa fa-map-marker" aria-hidden="true"></i> {{doctor.address}}</li>
                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{doctor.phone_number}}</li>
                                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> {{doctor.email}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </div>

{% endblock content %}