{% load static %}

<!doctype html>
<html lang="en">

<!--   [XR&CO'2014], Tue, 22 Oct  -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home 1</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/poppins/poppins.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/process-bar/tox-progress.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/owl-carouse/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/owl-carouse/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/animsition/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/mediaelement/mediaelementplayer.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/datetimepicker/bootstrap-datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/datetimepicker/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/lightgallery/lightgallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'parts/navbar.html' %}

{% block content %}

    
{% endblock content %}

{% include 'parts/footer.html' %}

<script src="{% static 'plugin/jquery/jquery-2.0.2.min.js' %}"></script>
<script src="{% static 'plugin/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugin/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'plugin/process-bar/tox-progress.js' %}"></script>
<script src="{% static 'plugin/waypoint/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'plugin/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'plugin/owl-carouse/owl.carousel.min.js' %}"></script>
<script src="{% static 'plugin/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugin/mediaelement/mediaelement-and-player.js' %}"></script>
<script src="{% static 'plugin/masonry/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/moment.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datepicker.tr.min.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'plugin/datetimepicker/bootstrap-datetimepicker.fr.js' %}"></script>

<script src="{% static 'plugin/lightgallery/picturefill.min.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lightgallery.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-pager.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-autoplay.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-fullscreen.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-zoom.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-hash.js' %}"></script>
<script src="{% static 'plugin/lightgallery/lg-share.js' %}"></script>
<script src="{% static 'plugin/sticky/jquery.sticky.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
<script>
    
{% for doctor in doctors_list %}

$(".cat{{doctor.category.id}}").click(function(){
    $(".doctorhide").hide()
    $(".doctor{{doctor.category.id}}").show()
    });     

{% endfor %}
        


</script>
</body>

<!--   [XR&CO'2014], Tue, 22 Oct 2019 11:45:22 GMT -->
</html>

